:root{
    --color_primery: #0D14F9;
    --color_primeryy:#21EEBA;
    --color_primeryyy: #363cff;
    --color_background: #0A0BF1;
    --color3:#E6E7E9;
    --color4:#6076FF;
    --color_white:#ffffff;
}
